body {
  background: #EFF3FE;
}

.main-container {
  margin: 50px 80px;
  height: 85vh;
  border-radius: 20px;
  box-shadow: 0 0 90px -50px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 4fr 1.5fr;
}

.left-bar {
  width: 100%;
  height: 100%;
  border-radius: 20px 0 0 20px;
  background: #FFFFFF
}

.main-section {
  width: 100%;
  height: 100%;
  background: #FAFCFF;
  box-shadow: inset 5px 0 90px -90px black, inset -5px 0 90px -90px black;
}

.right-bar {
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  border-radius: 0 20px 20px 0;
}